body {
  background-color: lightgray;
}

h1 {
  text-align: center;
}

.container {
  background-color: #fff;
  margin: 0 auto;
  width: 600px;
  height: 600px;
}

.box {
  font-weight: bold;
  padding: 5px;
}

.box__red {
  background-color: lightcoral;
}

.box__green {
  background-color: lightgreen;
}

.box__blue {
  background-color: lightblue;
}
